@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo&display=swap");
:root {
  --white-color: #ffffff;
  --black-color: #1e1e1e;
  --grey-color: #9b9b9b;
  --pink-color: #ffe3e3;
  --cardo-font: "Cardo", serif;
  --montserrat-font: "Montserrat", sans-serif;
}
body {
  margin: 0 auto;
  width: 1280px;
}

/* Navigation bar --> MENU */
.nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 100px;
}

.nav__container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav__item {
  display: block;
  font-family: var(--montserrat-font);
  font-size: 11px;
  margin: 0 0 0 100px;
  padding: 0;
  text-transform: uppercase;
}

.nav__link {
  text-decoration: none;
  color: var(--black-color);
}

/* Article  */
.title {
  line-height: 1.2;
  font-family: var(--montserrat-font);
  font-size: 46px;
  margin: 0 auto;
  text-align: center;
  width: 800px;
}

.title--details {
  margin-top: 130px;
}

.info__container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.info__container--details {
  margin-bottom: 40px;
}

.info__item {
  color: var(--grey-color);
  display: block;
  font-family: var(--montserrat-font);
  font-size: 14px;
  padding: 0;
}

.info__item:not(:last-child):after {
  content: "\2022";
  font-weight: bold;
  padding: 0 20px;
}

.info__mark {
  color: var(--black-color);
  font-weight: bold;
}

.actions__container {
  margin: 40px 0 20px 0;
  display: flex;
  justify-content: flex-end;
}

.actions__btn {
  padding: 0;
  background: none;
  border: none;
  font-family: var(--montserrat-font);
  font-size: 14px;
  line-height: 1.3;
  cursor: pointer;
}

.actions__btn:not(:last-child):after {
  content: "\007c";
  padding: 5px;
}

.content__container {
  margin-top: 80px;
}

.readmore__container {
  display: flex;
  justify-content: center;
  margin: 140px 0 100px 0;
}
